The frontend is a solidjs application, not a react one! Use solidjs syntax and features.
The backend is Rust but originally it was in Python using FastAPI.
Try to keep the same naming conventions as the original implementation and try to reuse as much code as possible, this applies to CSS too!