/* src/components/Audio/AudioGallery.css */

.audio-gallery {
  padding: var(--spacing);
}

.audio-gallery ul {
  list-style-type: none;
  padding: 0;
}

.audio-gallery li {
  padding: var(--spacing);
  margin: var(--half-spacing) 0;
  background-color: var(--card-bg);
  cursor: pointer;
  border-radius: var(--border-radius);
}

.audio-gallery li:hover {
  background-color: var(--secondary-bg);
}
