/* Reset defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 32px;
  height: 100vh;
  overflow: hidden;
  background: var(--preview-bg);
}

.image-container {
  display: flex;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.image-stack img.top {
  grid-column: 1 / span 3;
  grid-row: 1; /* must be on the same row as the other image */
  z-index: 1; /* make this image render on top of the bottom */
}

.image-stack img.bottom {
  grid-column: 4 / -1;
  grid-row: 1; /* make this image be on the same row */
}

.ui {
  flex: 0 0 auto;
  min-width: 100px;
  padding: 1rem;
}

.base-image {
  z-index: 1;
}

.overlay-image {
  z-index: 2;
}
