.breadcrumb {
  padding: var(--spacing);
  margin-bottom: var(--spacing);
  border-bottom: 1px solid var(--border-color);
  background: none;
  border-radius: 0;
  font-size: 1.4rem;

  & a {
    color: var(--accent);
    text-decoration: none;
    padding: var(--spacing);
  }

  & > .breadcrumb-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;

    & > .breadcrumb-links {
      display: flex;
      align-items: center;
      font-weight: 600;
    }

    & > small {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: var(--spacing);
      flex-grow: 0.618;
      font-size: 1rem;
      font-weight: 500;
      color: var(--text-primary);
      word-spacing: var(--half-spacing);
    }

    & > .breadcrumb-actions {
      display: flex;
      gap: var(--spacing);
      align-items: center;
    }
  }
}

/* Banana theme white background for breadcrumb */
[data-theme="banana"] .breadcrumb {
  background: rgb(254, 255, 236);
}

[data-theme="strawberry"] {
  body,
  .breadcrumb,
  .responsive-grid {
    background: rgb(239, 253, 243);
  }
}
