.tags-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  overflow-y: auto;
}

.tags-list {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.tag-bubble {
  display: inline-flex;
  align-items: center;
  padding: calc(var(--half-spacing) / 2) var(--half-spacing);
  gap: calc(var(--half-spacing) / 2);
  font-size: 0.8rem;
  white-space: nowrap;
  border-radius: var(--half-spacing);
  color: var(--text-secondary);
  transition-property: background-color;
}

.tag-bubble:has(.remove-tag:hover) {
  background-color: #ff000038 !important;
}

.tag-bubble .tag-text {
  font-size: inherit;
  line-height: 1.2;
}

.tag-bubble .remove-tag {
  font-size: 0.85rem;
  opacity: 0.7;
  transition: opacity 0.2s;
  color: inherit;
  border: none;
  background: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}

.tag-bubble .remove-tag svg {
  width: 100%;
  height: 100%;
}

.new-tag-input {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
}

.new-tag-input input {
  flex: 1;
  border: none;
  padding: var(--half-spacing);
  border-radius: var(--half-spacing);
  background-color: color-mix(in srgb, var(--secondary-bg) 50%, transparent);
  backdrop-filter: blur(3px);

  &::placeholder {
    color: var(--text-secondary);
  }
}

.new-tag-input .add-tag {
  border: none;
}
