/* src/components/ImageViewer/CaptionInput.css */

.caption-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.caption-icons {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

/*
.caption-input-wrapper.expanded {
}

.caption-input-wrapper.collapsed {
}
*/
