/* ========================================================
     Base styles
   ======================================================== */
:root {
  --accent: #8839ef;
  --bg-color: #eff1f5;
  --secondary-bg: #e0e3e7;
  --card-bg: #ccd0da;
  --text-primary: #1a1b24;
  --text-secondary: #5c5f77;
  --text-tertiary: #eff1f5;
  --placeholder-color: var(--text-secondary);
  --preview-bg: #68686885;
  --border-color: var(--card-bg);
  --border-secondary: var(--accent);
  --spacing: 0.7rem;
  --half-spacing: calc(var(--spacing) / 2);
  --double-spacing: calc(var(--spacing) * 2);
  --triple-spacing: calc(var(--spacing) * 3);
  --quad-spacing: calc(var(--spacing) * 4);
  --border-radius: 2px;
  --container-max-width: 1600px;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow-accent: var(--accent);
  --shadow-default: 0 2px 4px var(--shadow-color);
  --shadow-hover: 0 4px 6px var(--shadow-accent);
  --hover-transform: translateY(-4px);
  --overlay-bg: rgba(0, 0, 0, 0.2);
  --overlay-backdrop: brightness(0.5) saturate(0.5);
  --text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  --grid-item-min-width: 250px;
  --directory-item-min-width: 125px;
  --directory-aspect-ratio: 4/1;
  --icon-size: 1.5em;
  --loader-size: 30px;
  --loader-border-width: 3px;
  --transition-duration: 0.3s;
  --transition-timing: ease;
  --image-scale: 1;
  --scroll-track: 0;
  --font-size: 14px;
  --line-height: 1.6;
  --min-width: 100px;
}

:root[data-theme="dark"] {
  --bg-color: hsl(0, 0%, 15%);
  --card-bg: hsl(0, 0%, 20%);
  --text-primary: hsl(0, 0%, 80%);
  --text-secondary: hsl(0, 0%, 60%);
  --border: #333;
  --accent: #bf97d6;
  --secondary-bg: hsl(0, 0%, 18%);
}

:root[data-theme="light"] {
  --accent: #8839ef;
  --bg-color: #eff1f5;
  --secondary-bg: #e0e3e7;
  --card-bg: #ccd0da;
  --text-primary: #4c4f69;
  --text-secondary: #5c5f77;
  --border: var(--card-bg);
  --border-secondary: var(--accent);
  --placeholder-color: var(--text-secondary);
}

:root[data-theme="gray"] {
  --accent: hsl(266, 50%, 77%);
  --bg-color: hsl(0, 0%, 50%);
  --card-bg: hsl(0, 0%, 45%);
  --text-primary: hsl(0, 0%, 95%);
  --text-secondary: hsl(0, 0%, 85%);
  --border: hsl(0, 0%, 40%);
  --secondary-bg: hsl(0, 0%, 47%);
  --placeholder-color: var(--text-secondary);
  --icon-button-active-color: hsl(0, 0%, 0%);

  .icon-buttons button.active svg {
    fill: var(--icon-button-active-color);
  }
}

:root[data-theme="banana"] {
  --accent: #ffd700;
  --bg-color: #fff7e6;
  --secondary-bg: #ffe4b3;
  --card-bg: #ffdb4d;
  --text-primary: #664400;
  --text-secondary: #996600;
  --border: #ffcc00;
  --border-secondary: #cc9900;
  --placeholder-color: var(--border-secondary);
}

:root[data-theme="strawberry"] {
  --accent: #ff3366;
  --bg-color: #fff0f3;
  --secondary-bg: #ffd6e0;
  --card-bg: #ffb3c0;
  --text-primary: #800020;
  --text-secondary: #cc0033;
  --border: #ff8099;
  --border-secondary: #ff1a4d;
  --placeholder-color: #effdf3;
}

:root[data-theme="peanut"] {
  --accent: #d4a056;
  --bg-color: #2c1810;
  --secondary-bg: #402418;
  --card-bg: #573019;
  --text-primary: #ffd7aa;
  --text-secondary: #d4a056;
  --border: #8b4513;
  --border-secondary: #d4a056;
  --placeholder-color: var(--text-secondary);
}

/* Resets and apply theme colors on base styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: none var(--transition-duration) var(--transition-timing);
  border-width: 1px;
  border-color: var(--border-color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background: var(--bg-color);
  color: var(--text-primary);
  fill: var(--text-primary);
  line-height: var(--line-height);
}

svg {
  fill: currentColor;
}

img,
svg {
  display: block;
  border-radius: 0;
}

code {
  background-color: var(--secondary-bg);
  color: var(--text-primary);
  padding: 0.2em 0.4em;

  font-family: monospace;
}

/* Inputs */

input,
button,
select {
  margin: 0;
  padding: var(--spacing);
  border-style: solid;
  background-color: transparent;
  color: var(--text-primary);
}

button {
  margin: 0;
  text-decoration: none;
  border-style: solid;
  transition-property: background, color;

  &:hover,
  &:focus,
  &:focus-visible {
    background: var(--secondary-bg);
    color: var(--accent);
  }

  &.active {
    background: var(--secondary-bg);
  }
}

textarea,
input,
select {
  min-width: var(--min-width);
  background-color: var(--card-bg);
  color: var(--text-primary);
  transition: outline;
  font-family: inherit;
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: var(--half-spacing) var(--spacing);
  background: var(--bg-color);

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    border-color: var(--border-secondary);
  }
}

/* Generic UI Elements */

.card {
  padding: var(--spacing);
  color: var(--text-primary);
  --border-color: var(--text-secondary);
  border-color: var(--border-color);
  background: var(--card-bg);
  border-style: solid;
  overflow: hidden;

  &:focus-within {
    border-color: var(--border-secondary);
    box-shadow: var(--shadow-default);
  }

  & input,
  select,
  textarea {
    background: var(--secondary-bg);
    border-style: solid;
    color: var(--text-primary);

    &:focus {
      outline: none;
      border-color: var(--accent);
      background: var(--bg-color);
    }
  }

  & button {
    border-color: var(--text-secondary);
  }
}

/* Tables */

table {
  border-collapse: collapse;
  overflow: hidden;
}

tr {
  border-bottom: 1px solid;
  transition-property: background;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: var(--secondary-bg);
  }
}

td {
  color: var(--text-primary);
}

/* Icons */

.icon {
  display: inline-block;
  vertical-align: middle;
  padding: var(--half-spacing);

  & > svg {
    width: var(--icon-size);
    height: var(--icon-size);
    /* fill: var(--text-secondary); */
    transition-property: fill;
  }

  span& {
    padding: var(--half-spacing);
    margin-top: -0.2em;
  }
}

.spin-icon {
  & > svg {
    fill: var(--accent);
    animation: spin-animation 1s infinite linear;
  }
}

@keyframes spin-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accent {
  color: var(--accent);
}

.accent-hover {
  color: var(--text-primary);
  transition-property: color;

  & > svg {
    transition-property: fill;
  }

  &:hover,
  &.focus {
    color: var(--accent);
    & > svg {
      fill: var(--accent);
    }
  }
}

.accent-hover-inverted {
  transition-property: background-color, border-color, color;
  background-color: var(--secondary-bg);
  & > svg {
    transition-property: fill;
  }

  &:hover,
  &.focus {
    color: var(--text-tertiary);
    background-color: var(--accent);
    border-color: var(--accent);
  }

  &:hover > svg {
    fill: var(--text-tertiary);
  }
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
}
